In [1]:
##########################
# Importando Bibliotecas #
##########################
import pandas as pd
import numpy as np

### Carregando todos os dados

In [7]:
concept_ref = pd.read_csv('data/raw_data/CONCEPT_REF.csv')
concept_ref

    CONCEPT_ID          CONCEPT_NAME
0            1                Assets
1          234      CompanyMarketCap
2           71                Equity
3           90            LogReturns
4           74                 Price
5           75              PriceAdj
6           88               Returns
7          262               TotalEv
8          235  TradingitemMarketCap
9           78          VolumeTraded
10          33        WorkingCapital
11         299     WorkingCapital_L1
12          34     WorkingCapital_L4

In [9]:
indicator_ref = pd.read_csv('data/raw_data/INDICATOR_REF.csv')
indicator_ref

    INDICATOR_ID            INDICATOR_NAME  LOWER_BOUND  UPPER_BOUND
0            189                 AccRet_20         -1.0          1.0
1            195             AccRet_250_20         -1.0        100.0
2            282                  AssetsEv          0.0        100.0
3            226                  Beta_120        -10.0         10.0
4            227                  Beta_250        -10.0         10.0
5            225                   Beta_50        -10.0         10.0
6            143               CapexAssets         -1.0          1.0
7            142                CapexSales         -1.0          1.0
8            498  ChangeNetProfitMargin_L1         -1.0          1.0
9            511              ChangeROE_L1         -1.0          1.0
10           187             DividendYield          0.0          1.0
11           201           DownsideVol_126          0.0          0.1
12           202           DownsideVol_252          0.0          0.1
13           200            DownsideVol_63          0.0          0.1
14           146             EarningsYield         -1.0          1.0
15           149                    EbitEv         -1.0          1.0
16           150                  EbitdaEv         -1.0          1.0
17           164        GrossProfitability          0.0          1.0
18           377           GrowthAssets_L4       -100.0        100.0
19           230      IdiosyncraticVol_120          0.0          1.0
20           231      IdiosyncraticVol_250          0.0          1.0
21           229       IdiosyncraticVol_50          0.0          1.0
22           156                 PriceBook          0.0         10.0
23           160                       ROA         -1.0          1.0
24           158                       ROE         -1.0          1.0
25           159                      ROIC          0.0          1.0
26           197                   Vol_126          0.0          0.1
27           198                   Vol_252          0.0          0.1
28           196                    Vol_63          0.0          0.1
29           100                Volume_252          NaN          NaN

In [50]:
borrowrates = pd.read_csv('data/raw_data/BORROWRATES.csv')
borrowrates

,TRADINGITEM_ID,DATE_REF,MARKET,CONTRACT_COUNT,SHARE_COUNT,VOLUME,DONOR_MIN,DONOR_MEAN,DONOR_MAX,TAKER_MIN,TAKER_MEAN,TAKER_MAX
0,324161,2009-02-16,BALCAO,4,14810,124996.40,0.0100,0.0338,0.0345,0.0100,0.0407,0.0645
1,324179,2009-02-16,BALCAO,1,1602,11566.44,0.0510,0.0510,0.0510,0.0510,0.0510,0.0510
2,324285,2009-02-16,BALCAO,44,2391016,13891802.96,0.0100,0.0292,0.0620,0.0100,0.0295,0.0620
3,324363,2009-02-16,BALCAO,7,12300,174537.00,0.0000,0.0107,0.0265,0.0000,0.0231,0.0265
4,324422,2009-02-16,BALCAO,15,1397000,2556510.00,0.1000,0.1149,0.1200,0.1000,0.1170,0.1200
...,...,...,...,...,...,...,...,...,...,...,...,...
923023,342645,2024-09-11,Eletronico D+1,1,5100,77571.00,0.0006,0.0006,0.0006,0.0006,0.0006,0.0006
923024,342730,2024-09-11,Eletronico D+1,4,118800,67716.00,0.0644,0.0644,0.0644,0.0644,0.0644,0.0644
923025,342736,2024-09-11,Eletronico D+1,1,4700,221605.00,0.0262,0.0262,0.0262,0.0262,0.0262,0.0262
923026,342808,2024-09-11,Eletronico D+1,12,1422906,199206.84,0.0136,0.0136,0.0136,0.0136,0.0136,0.0136
923027,342815,2024-09-11,Eletronico D+1,6,91293,1052608.29,0.0001,0.0020,0.0020,0.0001,0.0020,0.0020

In [15]:
concept = pd.read_csv('data/raw_data/CONCEPT.csv')
concept

          CONCEPT_ID  TRADINGITEM_ID    DATE_REF  CONCEPT_VALUE
0                 33          324987  2024-08-06  -8.572250e+08
1                 33          324989  2024-08-06  -8.572250e+08
2                 33          324987  2024-08-07  -8.572250e+08
3                 33          324989  2024-08-07  -8.572250e+08
4                 33          324987  2024-08-08  -8.572250e+08
...              ...             ...         ...            ...
39427630          78          324745  2024-03-08   8.334990e+09
39427631          78          324745  2024-03-09   8.334990e+09
39427632          78          324745  2024-03-10   8.334990e+09
39427633          78          324745  2021-02-22   1.053046e+10
39427634          78          325063  2020-08-04   1.107338e+10

[39427635 rows x 4 columns]

In [17]:
indicator = pd.read_csv('data/raw_data/INDICATOR.csv')
indicator

          INDICATOR_ID  TRADINGITEM_ID    DATE_REF  INDICATOR_VALUE
0                  149          339481  2015-11-16    -2.744390e+06
1                  149          339481  2015-11-17    -2.744390e+06
2                  149          339481  2015-11-18    -2.744390e+06
3                  149          339481  2015-11-19    -2.744390e+06
4                  149          339481  2015-11-20    -2.744390e+06
...                ...             ...         ...              ...
73945439           100          325235  2024-09-08     2.819427e+09
73945440           100          325235  2024-09-09     2.819427e+09
73945441           100          325235  2024-09-10     2.819427e+09
73945442           100          325235  2024-09-11     2.819427e+09
73945443           100          325235  2024-09-12     2.819427e+09

[73945444 rows x 4 columns]

In [18]:
marketdata = pd.read_csv('data/raw_data/MARKETDATA.csv')
marketdata

,TRADINGITEM_ID,DATE_REF,PRICE_OPEN,PRICE_HIGH,PRICE_LOW,PRICE_CLOSE,PRICE_MID,PRICE_BID,PRICE_ASK,PRICE_VWAP,ADJUSTMENT_FACTOR,ASSETS_TRADED,SHARES_OUTSTANDING,WEIGTHED,FREE_FLOAT
0,324133,2023-05-08,11.34,12.00,11.34,11.51,11.460,11.41,11.51,11.688,1.891220,92700.0,41228595,474.541128,0.450401
1,324133,2023-06-16,13.80,13.86,13.59,13.65,13.580,13.51,13.65,13.710,1.891220,26600.0,41232928,562.829467,0.450401
2,324133,2023-06-09,13.99,13.99,13.50,13.61,13.580,13.55,13.61,13.731,1.891220,25300.0,41232928,561.180150,0.450401
3,324133,2023-06-07,13.45,13.97,13.41,13.63,13.795,13.63,13.96,13.621,1.891220,64100.0,41232928,562.004808,0.450401
4,324133,2023-05-18,12.38,12.72,12.30,12.68,12.690,12.68,12.70,12.565,1.891220,66800.0,41232928,522.833527,0.450401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356102,342899,2024-09-09,12.46,12.46,11.63,12.24,12.015,11.79,12.24,12.058,1.061592,85900.0,96207075,1177.574598,0.498850
1356103,342899,2024-09-10,12.26,12.54,11.88,12.44,12.530,12.42,12.64,12.246,1.061592,49600.0,96207075,1196.816013,0.498850
1356104,342899,2024-09-11,12.26,12.86,12.26,12.78,12.865,12.78,12.95,12.608,1.061592,55700.0,96207075,1229.526418,0.498850
1356105,342899,2024-09-12,12.61,13.07,12.50,12.90,12.925,12.87,12.98,12.791,1.061592,100900.0,96207075,1241.071267,0.498850
1356106,342899,2024-09-13,12.78,13.80,12.78,13.79,13.670,13.55,13.79,13.338,1.061592,249500.0,96207075,1326.695564,0.498850

In [21]:
tradingitem = pd.read_csv('data/raw_data/TRADINGITEM.csv')
tradingitem

      TRADINGITEM_ID   TICKER
0             342069   A2FY34
1             335800    AALR3
2             326791    ABCB4
3             339302  ABCXTAL
4             337886    ABEV3
...              ...      ...
1660          328404     ZAN3
1661          328402     ZAN5
1662          328403     ZAN6
1663          325589    ZIVI3
1664          325588    ZIVI4

[1665 rows x 2 columns]

### Manipulando para o formato wide (mais amigável)

In [140]:
concept_wide = pd.merge(concept, concept_ref, on='CONCEPT_ID', how='inner')
concept_wide.drop(columns=['CONCEPT_ID'], inplace=True)
concept_wide = concept_wide.pivot(index=['DATE_REF', 'TRADINGITEM_ID'], columns='CONCEPT_NAME', values='CONCEPT_VALUE')
concept_wide

CONCEPT_NAME                   Assets  CompanyMarketCap     Equity  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133            292418.0        236057.961   118568.0
           324161           1532189.0       3257582.979   472955.0
           324179            761815.0       1105217.252   622528.0
           324203           1640821.0       1559701.640   679376.0
           324282           3996019.0       9908451.951   266185.0
...                               ...               ...        ...
2024-09-13 342768           3300408.0               NaN  1541975.0
           342804            216612.0               NaN  -246174.0
           342808           1597285.0               NaN    -3584.0
           342815          20299813.0               NaN  4262700.0
           342899            935269.0               NaN   720149.0

CONCEPT_NAME               LogReturns      Price   PriceAdj   Returns  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133            0.048481   4.860000   4.860000  0.049676
           324161            0.006211  16.149993  53.032665  0.006231
           324179            0.058063   9.750000   9.200000  0.059783
           324203           -0.054871  53.009983  53.321765 -0.053393
           324282           -0.021202  13.999992   0.451195 -0.020979
...                               ...        ...        ...       ...
2024-09-13 342768            0.000000        NaN        NaN  0.000000
           342804            0.000000        NaN        NaN  0.000000
           342808            0.000000        NaN        NaN  0.000000
           342815            0.000000        NaN        NaN  0.000000
           342899            0.000000        NaN        NaN  0.000000

CONCEPT_NAME                    TotalEv  TradingitemMarketCap  VolumeTraded  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133          3.377000e+05          2.360580e+05  3.256200e+05
           324161          4.054263e+06          3.257583e+06  4.148921e+06
           324179          6.989043e+05          1.105217e+06  5.792475e+06
           324203          2.080052e+06          1.559702e+06  2.442695e+07
           324282          1.210251e+07          1.042312e+07  3.056177e+06
...                                 ...                   ...           ...
2024-09-13 342768                   NaN                   NaN  9.497800e+05
           342804                   NaN                   NaN  1.582240e+05
           342808                   NaN                   NaN  8.949440e+05
           342815                   NaN                   NaN  3.414878e+07
           342899                   NaN                   NaN  1.305480e+06

CONCEPT_NAME               WorkingCapital  WorkingCapital_L1  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133                 24489.0            18109.0
           324161                -69389.0           -69217.0
           324179                  2820.0             1559.0
           324203                 -7599.0            -9908.0
           324282                261558.0           148902.0
...                                   ...                ...
2024-09-13 342768                -48438.0            -3897.0
           342804                -44298.0           -48144.0
           342808                144583.0           140800.0
           342815                501165.0           283792.0
           342899                   498.0            38875.0

CONCEPT_NAME               WorkingCapital_L4
DATE_REF   TRADINGITEM_ID
2008-02-01 324133                    24335.0
           324161                   -75184.0
           324179                     8646.0
           324203                    -3835.0
           324282                   193777.0
...                                      ...
2024-09-13 342768                    15674.0
           342804                   -48574.0
           342808                    60180.0
           342815                   435562.0
           342899                     -865.0

[3680073 rows x 13 columns]

In [38]:
concept_wide.columns

Index(['Assets', 'CompanyMarketCap', 'Equity', 'LogReturns', 'Price',
       'PriceAdj', 'Returns', 'TotalEv', 'TradingitemMarketCap',
       'VolumeTraded', 'WorkingCapital', 'WorkingCapital_L1',
       'WorkingCapital_L4'],
      dtype='object', name='CONCEPT_NAME')

In [141]:
indicator_wide = pd.merge(indicator, indicator_ref, on='INDICATOR_ID', how='inner')
indicator_wide.drop(columns=['INDICATOR_ID'], inplace=True)
indicator_wide = indicator_wide.pivot(index=['DATE_REF', 'TRADINGITEM_ID'], columns='INDICATOR_NAME', values='INDICATOR_VALUE')
indicator_wide

INDICATOR_NAME             AccRet_20  AccRet_250_20  AssetsEv  Beta_120  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133          -0.153310      -0.563498       NaN  0.612978
           324161          -0.128910      -0.075424  0.524907  0.836137
           324179          -0.222972      -0.023907  1.351147  0.861832
           324203          -0.316000       0.423590       NaN  0.443713
           324282          -0.153845       0.467203  0.344698  0.635633
...                              ...            ...       ...       ...
2024-09-12 342768                NaN            NaN       NaN       NaN
           342804                NaN            NaN       NaN       NaN
           342808                NaN            NaN       NaN       NaN
           342815                NaN            NaN       NaN       NaN
           342899                NaN            NaN       NaN       NaN

INDICATOR_NAME             Beta_250   Beta_50  CapexAssets  CapexSales  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133          0.566327  0.520753          NaN         NaN
           324161          0.779070  0.857422     0.770192    0.809771
           324179          0.760156  0.963619     0.117539    0.176230
           324203          0.241428  0.520780          NaN         NaN
           324282          0.504225  0.759679          NaN         NaN
...                             ...       ...          ...         ...
2024-09-12 342768               NaN       NaN     0.180603    0.452779
           342804               NaN       NaN     0.054539    0.079379
           342808               NaN       NaN     0.083259    0.127551
           342815               NaN       NaN     0.095785    0.542719
           342899               NaN       NaN     0.000746    0.009186

INDICATOR_NAME             ChangeNetProfitMargin_L1  ChangeROE_L1  ...  \
DATE_REF   TRADINGITEM_ID                                          ...
2008-02-01 324133                               NaN      0.001991  ...
           324161                         -0.003417     -0.015080  ...
           324179                          0.008401      0.003801  ...
           324203                               NaN     -0.000547  ...
           324282                         -0.012792     -0.206906  ...
...                                             ...           ...  ...
2024-09-12 342768                               NaN           NaN  ...
           342804                               NaN           NaN  ...
           342808                               NaN           NaN  ...
           342815                               NaN           NaN  ...
           342899                               NaN           NaN  ...

INDICATOR_NAME             IdiosyncraticVol_250  IdiosyncraticVol_50  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133                      0.022108             0.021121
           324161                      0.024166             0.033598
           324179                      0.023254             0.026796
           324203                      0.020653             0.019767
           324282                      0.019777             0.022886
...                                         ...                  ...
2024-09-12 342768                           NaN                  NaN
           342804                           NaN                  NaN
           342808                           NaN                  NaN
           342815                           NaN                  NaN
           342899                           NaN                  NaN

INDICATOR_NAME             PriceBook       ROA       ROE       ROIC   Vol_126  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133           1.990907 -0.076346 -0.188288        NaN  0.022961
           324161           6.887722  0.096163  0.311530  11.117493  0.028600
           324179           1.775369  0.157550  0.192800   1.042338  0.028813
           324203           2.295785  0.011609  0.028038        NaN  0.018733
           324282          39.157415  0.018804  0.282299   0.354707  0.021919
...                              ...       ...       ...        ...       ...
2024-09-12 342768                NaN  0.039945  0.085498   0.059223  0.027494
           342804                NaN -0.196646       NaN        NaN  0.042052
           342808                NaN -1.119743       NaN        NaN  0.059613
           342815                NaN -0.006567 -0.031276   0.049384  0.013397
           342899                NaN  0.029212  0.037939   0.042894  0.024675

INDICATOR_NAME              Vol_252    Vol_63    Volume_252
DATE_REF   TRADINGITEM_ID
2008-02-01 324133          0.021120  0.021245           NaN
           324161          0.024641  0.032672           NaN
           324179          0.024251  0.029621           NaN
           324203          0.016410  0.020596           NaN
           324282          0.017929  0.025048           NaN
...                             ...       ...           ...
2024-09-12 342768          0.025934  0.021082  2.236959e+06
           342804          0.403978  0.044134  1.293803e+05
           342808          0.050066  0.069394  9.316460e+06
           342815          0.012466  0.002093  3.247806e+07
           342899          0.021618  0.022932  1.281074e+06

[3577746 rows x 30 columns]

In [43]:
indicator_wide.columns

Index(['AccRet_20', 'AccRet_250_20', 'AssetsEv', 'Beta_120', 'Beta_250',
       'Beta_50', 'CapexAssets', 'CapexSales', 'ChangeNetProfitMargin_L1',
       'ChangeROE_L1', 'DividendYield', 'DownsideVol_126', 'DownsideVol_252',
       'DownsideVol_63', 'EarningsYield', 'EbitEv', 'EbitdaEv',
       'GrossProfitability', 'GrowthAssets_L4', 'IdiosyncraticVol_120',
       'IdiosyncraticVol_250', 'IdiosyncraticVol_50', 'PriceBook', 'ROA',
       'ROE', 'ROIC', 'Vol_126', 'Vol_252', 'Vol_63', 'Volume_252'],
      dtype='object', name='INDICATOR_NAME')

In [142]:
borrowrates.loc[borrowrates.loc[:, 'MARKET']=='Balcao', 'MARKET'] = 'BALCAO'
borrowrates_wide = borrowrates.pivot(index=['DATE_REF', 'TRADINGITEM_ID'], columns='MARKET', values=['CONTRACT_COUNT', 'SHARE_COUNT', 'VOLUME', 'DONOR_MIN', 'DONOR_MEAN', 'DONOR_MAX', 'TAKER_MIN', 'TAKER_MEAN', 'TAKER_MAX'])
borrowrates_wide

                          CONTRACT_COUNT                                \
MARKET                            BALCAO Eletronico D+0 Eletronico D+1
DATE_REF   TRADINGITEM_ID
2009-02-16 324161                    4.0            NaN            NaN
           324179                    1.0            NaN            NaN
           324285                   44.0            NaN            NaN
           324363                    7.0            NaN            NaN
           324422                   15.0            NaN            NaN
...                                  ...            ...            ...
2024-09-11 342768                   11.0            NaN            NaN
           342804                    3.0            NaN            NaN
           342808                   12.0            NaN           12.0
           342815                   80.0            NaN            6.0
           342899                    8.0            NaN            NaN

                          SHARE_COUNT                                \
MARKET                         BALCAO Eletronico D+0 Eletronico D+1
DATE_REF   TRADINGITEM_ID
2009-02-16 324161             14810.0            NaN            NaN
           324179              1602.0            NaN            NaN
           324285           2391016.0            NaN            NaN
           324363             12300.0            NaN            NaN
           324422           1397000.0            NaN            NaN
...                               ...            ...            ...
2024-09-11 342768             12791.0            NaN            NaN
           342804               263.0            NaN            NaN
           342808            862617.0            NaN      1422906.0
           342815            389175.0            NaN        91293.0
           342899             39903.0            NaN            NaN

                                VOLUME                                \
MARKET                          BALCAO Eletronico D+0 Eletronico D+1
DATE_REF   TRADINGITEM_ID
2009-02-16 324161            124996.40            NaN            NaN
           324179             11566.44            NaN            NaN
           324285          13891802.96            NaN            NaN
           324363            174537.00            NaN            NaN
           324422           2556510.00            NaN            NaN
...                                ...            ...            ...
2024-09-11 342768             41059.11            NaN            NaN
           342804              1867.30            NaN            NaN
           342808            120766.38            NaN      199206.84
           342815           4487187.75            NaN     1052608.29
           342899            488412.72            NaN            NaN

                          DONOR_MIN  ...      DONOR_MAX TAKER_MIN  \
MARKET                       BALCAO  ... Eletronico D+1    BALCAO
DATE_REF   TRADINGITEM_ID            ...
2009-02-16 324161            0.0100  ...            NaN    0.0100
           324179            0.0510  ...            NaN    0.0510
           324285            0.0100  ...            NaN    0.0100
           324363            0.0000  ...            NaN    0.0000
           324422            0.1000  ...            NaN    0.1000
...                             ...  ...            ...       ...
2024-09-11 342768            0.2900  ...            NaN    0.2900
           342804            0.0500  ...            NaN    0.0500
           342808            0.0136  ...         0.0136    0.0136
           342815            0.0015  ...         0.0020    0.0015
           342899            0.0700  ...            NaN    0.0700

                                                        TAKER_MEAN  \
MARKET                    Eletronico D+0 Eletronico D+1     BALCAO
DATE_REF   TRADINGITEM_ID
2009-02-16 324161                    NaN            NaN     0.0407
           324179                    NaN            NaN     0.0510
           324285                    NaN            NaN     0.0295
           324363                    NaN            NaN     0.0231
           324422                    NaN            NaN     0.1170
...                                  ...            ...        ...
2024-09-11 342768                    NaN            NaN     0.2900
           342804                    NaN            NaN     0.0506
           342808                    NaN         0.0136     0.0136
           342815                    NaN         0.0001     0.0021
           342899                    NaN            NaN     0.0705

                                                        TAKER_MAX  \
MARKET                    Eletronico D+0 Eletronico D+1    BALCAO
DATE_REF   TRADINGITEM_ID
2009-02-16 324161                    NaN            NaN    0.0645
           324179                    NaN            NaN    0.0510
           324285                    NaN            NaN    0.0620
           324363                    NaN            NaN    0.0265
           324422                    NaN            NaN    0.1200
...                                  ...            ...       ...
2024-09-11 342768                    NaN            NaN    0.2900
           342804                    NaN            NaN    0.1000
           342808                    NaN         0.0136    0.0136
           342815                    NaN         0.0020    0.0025
           342899                    NaN            NaN    0.1000


MARKET                    Eletronico D+0 Eletronico D+1
DATE_REF   TRADINGITEM_ID
2009-02-16 324161                    NaN            NaN
           324179                    NaN            NaN
           324285                    NaN            NaN
           324363                    NaN            NaN
           324422                    NaN            NaN
...                                  ...            ...
2024-09-11 342768                    NaN            NaN
           342804                    NaN            NaN
           342808                    NaN         0.0136
           342815                    NaN         0.0020
           342899                    NaN            NaN

[742794 rows x 27 columns]

In [58]:
borrowrates_wide.columns

MultiIndex([('CONTRACT_COUNT',         'BALCAO'),
            ('CONTRACT_COUNT', 'Eletronico D+0'),
            ('CONTRACT_COUNT', 'Eletronico D+1'),
            (   'SHARE_COUNT',         'BALCAO'),
            (   'SHARE_COUNT', 'Eletronico D+0'),
            (   'SHARE_COUNT', 'Eletronico D+1'),
            (        'VOLUME',         'BALCAO'),
            (        'VOLUME', 'Eletronico D+0'),
            (        'VOLUME', 'Eletronico D+1'),
            (     'DONOR_MIN',         'BALCAO'),
            (     'DONOR_MIN', 'Eletronico D+0'),
            (     'DONOR_MIN', 'Eletronico D+1'),
            (    'DONOR_MEAN',         'BALCAO'),
            (    'DONOR_MEAN', 'Eletronico D+0'),
            (    'DONOR_MEAN', 'Eletronico D+1'),
            (     'DONOR_MAX',         'BALCAO'),
            (     'DONOR_MAX', 'Eletronico D+0'),
            (     'DONOR_MAX', 'Eletronico D+1'),
            (     'TAKER_MIN',         'BALCAO'),
            (     'TAKER_MIN', 'Eletronico D+0'),
            (     'TAKER_MIN', 'Eletronico D+1'),
            (    'TAKER_MEAN',         'BALCAO'),
            (    'TAKER_MEAN', 'Eletronico D+0'),
            (    'TAKER_MEAN', 'Eletronico D+1'),
            (     'TAKER_MAX',         'BALCAO'),
            (     'TAKER_MAX', 'Eletronico D+0'),
            (     'TAKER_MAX', 'Eletronico D+1')],
           names=[None, 'MARKET'])

In [143]:
marketdata_wide = marketdata.set_index(['DATE_REF', 'TRADINGITEM_ID'])
marketdata_wide

,,PRICE_OPEN,PRICE_HIGH,PRICE_LOW,PRICE_CLOSE,PRICE_MID,PRICE_BID,PRICE_ASK,PRICE_VWAP,ADJUSTMENT_FACTOR,ASSETS_TRADED,SHARES_OUTSTANDING,WEIGTHED,FREE_FLOAT
DATE_REF,TRADINGITEM_ID,,,,,,,,,,,,,
2023-05-08,324133,11.34,12.00,11.34,11.51,11.460,11.41,11.51,11.688,1.891220,92700.0,41228595,474.541128,0.450401
2023-06-16,324133,13.80,13.86,13.59,13.65,13.580,13.51,13.65,13.710,1.891220,26600.0,41232928,562.829467,0.450401
2023-06-09,324133,13.99,13.99,13.50,13.61,13.580,13.55,13.61,13.731,1.891220,25300.0,41232928,561.180150,0.450401
2023-06-07,324133,13.45,13.97,13.41,13.63,13.795,13.63,13.96,13.621,1.891220,64100.0,41232928,562.004808,0.450401
2023-05-18,324133,12.38,12.72,12.30,12.68,12.690,12.68,12.70,12.565,1.891220,66800.0,41232928,522.833527,0.450401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-09,342899,12.46,12.46,11.63,12.24,12.015,11.79,12.24,12.058,1.061592,85900.0,96207075,1177.574598,0.498850
2024-09-10,342899,12.26,12.54,11.88,12.44,12.530,12.42,12.64,12.246,1.061592,49600.0,96207075,1196.816013,0.498850
2024-09-11,342899,12.26,12.86,12.26,12.78,12.865,12.78,12.95,12.608,1.061592,55700.0,96207075,1229.526418,0.498850
2024-09-12,342899,12.61,13.07,12.50,12.90,12.925,12.87,12.98,12.791,1.061592,100900.0,96207075,1241.071267,0.498850
2024-09-13,342899,12.78,13.80,12.78,13.79,13.670,13.55,13.79,13.338,1.061592,249500.0,96207075,1326.695564,0.498850

In [156]:
borrowrates_wide.index

MultiIndex([('2009-02-16', 324161),
            ('2009-02-16', 324179),
            ('2009-02-16', 324285),
            ('2009-02-16', 324363),
            ('2009-02-16', 324422),
            ('2009-02-16', 324451),
            ('2009-02-16', 324477),
            ('2009-02-16', 324489),
            ('2009-02-16', 324551),
            ('2009-02-16', 324553),
            ...
            ('2024-09-11', 342592),
            ('2024-09-11', 342645),
            ('2024-09-11', 342698),
            ('2024-09-11', 342730),
            ('2024-09-11', 342736),
            ('2024-09-11', 342768),
            ('2024-09-11', 342804),
            ('2024-09-11', 342808),
            ('2024-09-11', 342815),
            ('2024-09-11', 342899)],
           names=['DATE_REF', 'TRADINGITEM_ID'], length=742794)

In [158]:
all_wide = pd.concat([concept_wide, indicator_wide, borrowrates_wide, marketdata_wide], axis=1, join='outer')
all_wide

                              Assets  CompanyMarketCap    Equity  LogReturns  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133           292418.0        236057.961  118568.0    0.048481
           324161          1532189.0       3257582.979  472955.0    0.006211
           324179           761815.0       1105217.252  622528.0    0.058063
           324203          1640821.0       1559701.640  679376.0   -0.054871
           324282          3996019.0       9908451.951  266185.0   -0.021202
...                              ...               ...       ...         ...
2010-11-16 338379                NaN               NaN       NaN         NaN
2010-11-17 338379                NaN               NaN       NaN         NaN
2010-12-15 338379                NaN               NaN       NaN         NaN
2010-12-28 338379                NaN               NaN       NaN         NaN
2011-05-13 338379                NaN               NaN       NaN         NaN

                               Price   PriceAdj   Returns       TotalEv  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133           4.860000   4.860000  0.049676  3.377000e+05
           324161          16.149993  53.032665  0.006231  4.054263e+06
           324179           9.750000   9.200000  0.059783  6.989043e+05
           324203          53.009983  53.321765 -0.053393  2.080052e+06
           324282          13.999992   0.451195 -0.020979  1.210251e+07
...                              ...        ...       ...           ...
2010-11-16 338379                NaN        NaN       NaN           NaN
2010-11-17 338379                NaN        NaN       NaN           NaN
2010-12-15 338379                NaN        NaN       NaN           NaN
2010-12-28 338379                NaN        NaN       NaN           NaN
2011-05-13 338379                NaN        NaN       NaN           NaN

                           TradingitemMarketCap  VolumeTraded  ...  \
DATE_REF   TRADINGITEM_ID                                      ...
2008-02-01 324133                  2.360580e+05  3.256200e+05  ...
           324161                  3.257583e+06  4.148921e+06  ...
           324179                  1.105217e+06  5.792475e+06  ...
           324203                  1.559702e+06  2.442695e+07  ...
           324282                  1.042312e+07  3.056177e+06  ...
...                                         ...           ...  ...
2010-11-16 338379                           NaN           NaN  ...
2010-11-17 338379                           NaN           NaN  ...
2010-12-15 338379                           NaN           NaN  ...
2010-12-28 338379                           NaN           NaN  ...
2011-05-13 338379                           NaN           NaN  ...

                           PRICE_CLOSE  PRICE_MID  PRICE_BID  PRICE_ASK  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133             4.860000   4.920000   4.870000   4.970000
           324161            16.149994  16.274993  16.149994  16.399989
           324179             9.750000   9.775000   9.750000   9.800000
           324203            53.009984  53.494986  53.009984  53.979989
           324282            13.999993  13.954997  13.809999  14.100000
...                                ...        ...        ...        ...
2010-11-16 338379                  NaN        NaN        NaN        NaN
2010-11-17 338379                  NaN        NaN        NaN        NaN
2010-12-15 338379                  NaN        NaN        NaN        NaN
2010-12-28 338379                  NaN        NaN        NaN        NaN
2011-05-13 338379                  NaN        NaN        NaN        NaN

                           PRICE_VWAP  ADJUSTMENT_FACTOR  ASSETS_TRADED  \
DATE_REF   TRADINGITEM_ID
2008-02-01 324133                 NaN           1.000000   67000.000000
           324161                 NaN           3.283758  256899.254940
           324179                 NaN           1.000000  594100.000000
           324203                 NaN           1.005882  460799.058973
           324282                 NaN           0.031552  218298.486013
...                               ...                ...            ...
2010-11-16 338379                 NaN                NaN            NaN
2010-11-17 338379                 NaN                NaN            NaN
2010-12-15 338379                 NaN                NaN            NaN
2010-12-28 338379                 NaN                NaN            NaN
2011-05-13 338379                 NaN                NaN            NaN

                           SHARES_OUTSTANDING     WEIGTHED  FREE_FLOAT
DATE_REF   TRADINGITEM_ID
2008-02-01 324133                  48571597.0   236.057961    0.382719
           324161                 201708000.0  3257.582984    0.499413
           324179                 120132310.0  1171.290022    0.290722
           324203                  29422790.0  1559.701640    0.246162
           324282                 728889365.0  9908.451951    0.827089
...                                       ...          ...         ...
2010-11-16 338379                         NaN          NaN         NaN
2010-11-17 338379                         NaN          NaN         NaN
2010-12-15 338379                         NaN          NaN         NaN
2010-12-28 338379                         NaN          NaN         NaN
2011-05-13 338379                         NaN          NaN         NaN

[3680275 rows x 83 columns]

In [196]:
# Filtrando por uma data específica no nível 'DATE_REF'
all_wide.loc['2010-11-16']

,Assets,CompanyMarketCap,Equity,LogReturns,Price,PriceAdj,Returns,TotalEv,TradingitemMarketCap,VolumeTraded,...,PRICE_CLOSE,PRICE_MID,PRICE_BID,PRICE_ASK,PRICE_VWAP,ADJUSTMENT_FACTOR,ASSETS_TRADED,SHARES_OUTSTANDING,WEIGTHED,FREE_FLOAT
TRADINGITEM_ID,,,,,,,,,,,,,,,,,,,,,
324133,291143.00,3.391890e+05,148832.00,-0.028573,6.900000,7.595245,-0.028169,3.706650e+05,3.391890e+05,8.245500e+05,...,6.900000,6.880000,6.860000,6.900000,NaN,1.069753,119500.000000,47773097.0,329.634369,0.445247
324161,2713047.00,5.430745e+06,742895.00,0.003642,27.499991,94.421242,0.003650,6.910174e+06,5.430745e+06,2.718095e+07,...,27.499992,27.004993,26.509993,27.499992,NaN,3.433501,988398.373106,197481699.0,5430.745151,0.587220
324179,1315207.00,1.263370e+06,957166.00,-0.002836,10.560000,10.597263,-0.002833,9.164980e+05,1.263370e+06,3.136320e+05,...,10.560000,10.455000,10.350000,10.560000,NaN,1.003529,29700.000000,119637310.0,1263.369993,0.160099
324203,3207023.00,1.301436e+06,1105668.00,0.008788,8.000000,34.731660,0.008827,2.452051e+06,1.301436e+06,1.823200e+06,...,8.000000,7.900000,7.800000,8.000000,NaN,4.379781,227900.000000,164115471.0,1312.923768,NaN
324282,7108823.00,1.150067e+07,526515.00,-0.019473,13.729983,0.440408,-0.019286,1.456476e+07,1.002917e+07,8.236136e+05,...,13.729984,13.764983,13.729984,13.799995,NaN,0.032076,59986.494368,730457693.0,11500.669308,0.667019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336300,80893.00,NaN,79431.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336303,278.06,1.057855e+06,-117.85,0.033387,1675.000000,1675.000000,0.033951,1.057873e+06,1.057855e+06,1.172500e+07,...,1675.000000,1647.495000,1610.000000,1684.990000,NaN,1.000000,7000.000000,631555.0,1057.854625,NaN
336425,20741.00,NaN,20461.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339358,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,4.179153e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
# Filtrando por um TRADINGITEM
all_wide.xs(342899, level='TRADINGITEM_ID')

,Assets,CompanyMarketCap,Equity,LogReturns,Price,PriceAdj,Returns,TotalEv,TradingitemMarketCap,VolumeTraded,...,PRICE_CLOSE,PRICE_MID,PRICE_BID,PRICE_ASK,PRICE_VWAP,ADJUSTMENT_FACTOR,ASSETS_TRADED,SHARES_OUTSTANDING,WEIGTHED,FREE_FLOAT
DATE_REF,,,,,,,,,,,,,,,,,,,,,
2021-06-30,941907.0,NaN,679718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-01,941907.0,NaN,679718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-02,941907.0,NaN,679718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-03,941907.0,NaN,679718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-04,941907.0,NaN,679718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-09,935269.0,1177574.598,720149.0,-0.003262,12.24,12.993890,-0.003257,1.245270e+06,1.177575e+06,1051416.0,...,12.24,12.015,11.79,12.24,12.058,1.061592,85900.0,96207075.0,1177.574598,0.49885
2024-09-10,935269.0,1196816.013,720149.0,0.016207,12.44,13.206209,0.016340,1.264511e+06,1.196816e+06,617024.0,...,12.44,12.530,12.42,12.64,12.246,1.061592,49600.0,96207075.0,1196.816013,0.49885
2024-09-11,935269.0,1229526.418,720149.0,0.026964,12.78,13.567150,0.027331,1.297221e+06,1.229526e+06,711846.0,...,12.78,12.865,12.78,12.95,12.608,1.061592,55700.0,96207075.0,1229.526418,0.49885
2024-09-12,935269.0,1241071.267,720149.0,0.009345,12.90,13.694541,0.009390,1.308766e+06,1.241071e+06,1305480.0,...,12.90,12.925,12.87,12.98,12.791,1.061592,100900.0,96207075.0,1241.071267,0.49885
2024-09-13,935269.0,NaN,720149.0,0.000000,NaN,NaN,0.000000,NaN,NaN,1305480.0,...,13.79,13.670,13.55,13.79,13.338,1.061592,249500.0,96207075.0,1326.695564,0.49885

In [87]:
all_wide.columns

Index(['Assets', 'CompanyMarketCap', 'Equity', 'LogReturns', 'Price',
       'PriceAdj', 'Returns', 'TotalEv', 'TradingitemMarketCap',
       'VolumeTraded', 'WorkingCapital', 'WorkingCapital_L1',
       'WorkingCapital_L4', 'AccRet_20', 'AccRet_250_20', 'AssetsEv',
       'Beta_120', 'Beta_250', 'Beta_50', 'CapexAssets', 'CapexSales',
       'ChangeNetProfitMargin_L1', 'ChangeROE_L1', 'DividendYield',
       'DownsideVol_126', 'DownsideVol_252', 'DownsideVol_63', 'EarningsYield',
       'EbitEv', 'EbitdaEv', 'GrossProfitability', 'GrowthAssets_L4',
       'IdiosyncraticVol_120', 'IdiosyncraticVol_250', 'IdiosyncraticVol_50',
       'PriceBook', 'ROA', 'ROE', 'ROIC', 'Vol_126', 'Vol_252', 'Vol_63',
       'Volume_252', 'index', 'TRADINGITEM_ID', 'DATE_REF', 'MARKET',
       'CONTRACT_COUNT', 'SHARE_COUNT', 'VOLUME', 'DONOR_MIN', 'DONOR_MEAN',
       'DONOR_MAX', 'TAKER_MIN', 'TAKER_MEAN', 'TAKER_MAX', 'PRICE_OPEN',
       'PRICE_HIGH', 'PRICE_LOW', 'PRICE_CLOSE', 'PRICE_MID', 'PRICE_BID',
       'PRICE_ASK', 'PRICE_VWAP', 'ADJUSTMENT_FACTOR', 'ASSETS_TRADED',
       'SHARES_OUTSTANDING', 'WEIGTHED', 'FREE_FLOAT'],
      dtype='object')

In [133]:
print('Retorno acima de   ', 'Amostra')
print('10%:               ', round(len(all_wide.loc[all_wide.loc[:, 'Returns']>0.1, 'Returns'])/len(all_wide.loc[all_wide.loc[:, 'Returns'].notna(), 'Returns']),8))
print('15%:               ', round(len(all_wide.loc[all_wide.loc[:, 'Returns']>0.15, 'Returns'])/len(all_wide.loc[all_wide.loc[:, 'Returns'].notna(), 'Returns']),8))
print('20%:               ', round(len(all_wide.loc[all_wide.loc[:, 'Returns']>0.2, 'Returns'])/len(all_wide.loc[all_wide.loc[:, 'Returns'].notna(), 'Returns']),8))
print('30%:               ', round(len(all_wide.loc[all_wide.loc[:, 'Returns']>0.3, 'Returns'])/len(all_wide.loc[all_wide.loc[:, 'Returns'].notna(), 'Returns']),8))
print('50%:               ', round(len(all_wide.loc[all_wide.loc[:, 'Returns']>0.5, 'Returns'])/len(all_wide.loc[all_wide.loc[:, 'Returns'].notna(), 'Returns']),8))

Retorno acima de    Amostra
10%:                0.00630859
15%:                0.00302186
20%:                0.00169453
30%:                0.00083966
50%:                0.00029821

In [204]:
all_wide.to_csv('data/clean_data/all_wide.csv', sep=';', index=True, encoding='utf-8')